---
layout: page
title: contacts
---

<h6>mijkenator at gmail.com</h6>
%a{ :href => "https://www.linkedin.com/profile/view?id=AAIAAAH6KUgBC_hU4o4Bjx5VIgtD5w8y9SL0-oU", :title => "profile"}
    %strong
        Linkedin profile
